// $color-main: #272727;
// $color-secondary: #fff;
// $color-grey-light: #cdcdcd;
// $color-grey: #6f6f6f;
// $color-primary: #04e277;
// $color-primary-sub: #0bd072;
// $color-primaru-dark: #197c00;

// $transition: 0.3s easy-in-out;

$color-primary: #272727;
$color-secondary: #fff;
$color-main: #04e277;
$color-main-sub: #0bd072;
$color-main-dark: #197c00;
$color-grey: #6f6f6f;
$color-grey-light: #cdcdcd;

$transition: 0.3s ease-in-out;
