.catalog {
  &__container {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 72px 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 44px;
  }

  &__goods {
  }

  &__filter {
  }

  &__pagination {
    grid-column: 1 / -1;
  }
}
