.catalog {
  &__container {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 72px 30px;

    @include desktop {
      grid-template-columns: 1fr 340px;
      column-gap: 20px;
    }

    @include laptop {
      grid-template-columns: 1fr 310px;
      row-gap: 80px;
    }

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }

    @include mobile {
      row-gap: 40px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 44px;
  }

  &__goods {
  }

  &__filter {
    @include tablet {
      display: none;
    }
  }

  &__pagination {
    grid-column: 1 / -1;
  }
}
