.pagination {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: center;
  &__arrow {
    width: 18px;
    height: 18px;
    color: $color-grey-light;
    &_start {
    }

    &_end {
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__item {
    width: 36px;
    height: 36px;
    margin: auto;

    &_active {
      border: 2px solid $color-main;
      border-radius: 2px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
  }
}
