.pagination {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  &__arrow {
    display: block;
    width: 18px;
    height: 18px;
    color: $color-primary;

    &_start {
    }

    &_end {
    }

    &[href=""] {
      color: $color-grey-light;
      pointer-events: none;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: border-color $transition;

    &_active {
      border-color: $color-main;
    }
  }
}
