.address {
  @include desktop {
    max-width: 700px;
  }

  @include laptop {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 44px;

    @include mobile {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }

  &__label-select {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 33px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("../../img/arrow-down.svg");

      @include desktop {
        right: 23px;
      }

      @include mobile {
        right: 28px;
      }
    }

    &_active::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include tablet {
      gap: 10px 20px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    border: 1px solid $color-primary;
    padding: 9px 10px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    background-color: $color-secondary;
    color: $color-grey;
    outline: none;
    transition: border-color $transition;

    &:hover,
    &:focus-visible {
      border-color: $color-main;
    }

    @include tablet {
      font-size: 12px;
    }

    &_select {
      position: relative;
      appearance: none;
    }

    &_btn {
      background-color: $color-primary;
      color: $color-secondary;
      outline: none;
      border: 0;
      transition: background-color $transition;

      &:focus-visible {
        background-color: $color-main;
      }

      &:hover {
        background-color: $color-main-sub;
      }

      &:disabled {
        background-color: $color-grey-light;
      }
    }
  }

  &__label-save {
    grid-column: -2 / -1;
    font-weight: 500;
    font-size: 14px;
    color: $color-grey;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    input {
      pointer-events: none;
    }
  }
}
