.cart {
  &__container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 70px 30px;
    justify-content: space-between;
  }

  &__address {
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
  }

  &__total {
    padding-top: 94px;
  }
}
